<div class="row wrapper border-bottom white-bg page-heading" ng-controller="addcontactCtrl">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboards">Home</a>
            </li>
            
            <li class="active">
                <strong>Add Contact</strong>
            </li>
        </ol>
        <br>
        <fieldset>
        	<form class="m-t" role="form">
			    <div class="row">
			    	<div class="col-lg-6">
			            <div class="form-group">
			                <label>Mobile *</label>
			                <input id="name" name="name" ng-model="formData.mobile" type="text" class="form-control required" ng-pattern="/^\d+$/"  ng-required="true">
			            </div>
			            <div class="form-group">
			                <label>Company *</label>
			                <input id="surname" name="surname" ng-model="formData.company" type="text" class="form-control required" ng-required="true">
			            </div>		            
			        </div>

			        <div class="col-lg-6">
			            <div class="form-group">
			                <label>First name *</label>
			                <input id="name" name="name" ng-model="formData.name" type="text" class="form-control required" ng-required="true">
			            </div>
			            <div class="form-group">
			                <label>Last name *</label>
			                <input id="surname" name="surname" ng-model="formData.lastName" type="text" class="form-control required">
			            </div>		            
			        </div>
			        <div class="col-lg-6">
			            <div class="form-group">
			                <label>Email *</label>
			                <input id="email" name="email" type="email" ng-model="formData.email" class="form-control required email" ng-required="true">
			            </div>
			        </div>
			        <div class="col-lg-6">
			            <div class="form-group">
			                <label>Address *</label>
			                <input id="address" name="address" type="text" ng-model="formData.address" class="form-control" ng-required="true">
			            </div>
			        </div>
			    </div>
		    	<button type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button>	
		   	</form>	   
		</fieldset>
    </div>


</div>