
<div  ng-controller="addproductCtrl">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-9">
		        <h2>Products</h2>
		        <ol class="breadcrumb">
		            <li>
		                <a href="/dashboards">Home</a>
		            </li>
		            
		            <li class="active">
		                <strong>Add Product</strong>
		            </li>
		        </ol>	       
		</div>
	</div>
	<br>
        <fieldset>
		    <div class="row">
		    	<div class="col-lg-12">
		    		<div class="alert alert-success alert-dismissable" ng-show="message"> {{message}} </div>
		    	</div>
		        <div class="col-lg-6">
		            <div class="form-group">
		                <label>Product name *</label>
		                <input id="name" name="name" ng-model="formData.name" type="text" class="form-control required" ng-required>
		                <div class="alert alert-danger alert-dismissable" ng-show="errors.name"> {{errors.name}} </div>
		            </div>
		             <div class="form-group">
		                <label>Price *</label>
		                <input id="price" name="price" type="text" ng-model="formData.price" class="form-control required" ng-pattern="/^\d+$/"  ng-required>
		                <div class="alert alert-danger alert-dismissable" ng-show="errors.price"> {{errors.price}} </div>
		            </div>  
		            <div class="form-group">
	                    <label>Mrprice </label>
	                   <input id="mrprice" name="mrprice" ng-model="formData.mrprice" type="text" class="form-control required" >
	                </div>  	                 
                    <div class="form-group">
                        <label>Work </label>
                       <input id="work" name="work" ng-model="formData.work" type="text" class="form-control required" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Details </label>
                        <textarea rows="4" cols="150" id="details" name="details" ng-model="formData.details" type="text" class="form-control required" >
                    	</textarea>
                    </div>                       
		        </div>
		        <div class="col-lg-6">
		            <div class="form-group">
		                <label>Category *</label>
		                <!-- <input id="category" name="category" type="text" ng-model="formData.category" class="form-control required"> -->
		                <select name="category"  class="form-control" ng-model="formData.category">
		                	<option value="">choose Category</option>
		                	<option value="Saree">Saree</option>
		                	<option value="Salwar Kameez">Salwar Kameez</option>
		                	<option value="Kurti">Kurti</option>
		                </select>

		                <div class="alert alert-danger alert-dismissable" ng-show="errors.category"> {{errors.category}} </div>
		            </div>
		            <div class="form-group">
		                <label>Fabric</label>
		                <input id="fabric" name="fabric" type="text" ng-model="formData.fabric" class="form-control">
		            </div>
	            	<div class="form-group">
                        <label>Color </label>
                       <input id="color" name="color" ng-model="formData.color" type="text" class="form-control required" >
                    </div>
                    <div class="form-group">
                        <label>Handle </label>
                       <input id="handle" name="handle" ng-model="formData.handle" type="text" class="form-control required" >
                    </div>
                    <div class="form-group">
                        <label>Sku </label>
                       <input id="sku" name="sku" ng-model="formData.sku" type="text" class="form-control required" >
                    </div>
                    <div class="form-group">
                        <label>Images </label>
                       <input id="cimages" name="cimages" ng-model="formData.cimages" type="text" class="form-control required" ng-required="true">
                    </div>   
		        </div>
		       <!--  <div class="col-lg-6">		           
		            <div class="form-group">
		            <form action="" enctype="multipart/form-data">
		                <label>Upload Image </label> &nbsp &nbsp

		                 <span class="btn btn-danger btn-file">
			            	Add Images 
			            	<input type="file" id="fileUpload" name="file" file-change="handler($event,files)" multiple="true" ng-model="MyFiles" class="custom-file-input"/>	
			       		</span>
		            </form>
		            
		            </div>	
		        </div> -->
		            <!-- <div class="ibox-content">
	                    <form action="" class="dropzone" drop-zone="" id="file-dropzone" enctype="multipart/form-data">
	                        <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
	                    </form>
	                    <div>
	                        <div class="m text-right">
	                            <small>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews: <a href="https://github.com/enyo/dropzone" target="_blank">https://github.com/enyo/dropzone</a>
	                            </small>
	                        </div>
	                    </div>
	                </div>	   -->          	            
		        

		       
		        <div id="imagediv" class="col-lg-12">

		        </div>
		    </div>
		    <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>		   
		</fieldset>
</div>