<div  ng-controller="editformCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-9">
            <h2>Forms</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="dashboards.main">Home</a>
                </li>
                
                <li class="active">
                    <strong>Edit Form</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
       <fieldset>
            <form class="m-t" role="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div ng-if="message" class="alert alert-success"> {{message}} </div>
                        </div>
                        <div class="form-group">
                            <div ng-if="error" class="alert alert-danger"> {{error}} </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <label>Form name *</label>
                            <input id="name" name="name" ng-model="formData.name" type="text" class="form-control required" ng-required="true">
                        </div>   
                        <div class="form-group">
                            <label>Description </label>                            
                            <textarea rows="4" cols="150" id="html" name="html" ng-model="formData.description" type="text" class="form-control required" >
                            </textarea>
                        </div> 
                        <div class="form-group">
                            <label>Html </label>
                            <textarea rows="4" cols="150" id="html" name="html" ng-model="formData.html" type="text" class="form-control required" >

                            </textarea>
                            <div class="form-group">
                                <label>Handle * </label>                            
                                <input id="name" name="name" ng-model="formData.handle" type="text" class="form-control required" ng-required="true">
                            </div>  
                        </div>                                       
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="checkbox"  name="active" ng-model="formData.active" value="true"> Please select check box if you wants to active Schedule functionality 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <label>User Tags </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="tag"  class="form-control" ng-model="formData.usergrouptag">
                                            <option value="">Choose Tag</option>
                                           <!--  <option value="Developer">Developer</option>
                                            <option value="Production">Production</option> -->
                                            <option ng-selected="formData.usergrouptag == tagIn" value="{{tagIn}}" ng-repeat="tagIn in tags">{{tagIn}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <label>have to fill this form</label> 
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="period"  class="form-control" ng-model="formData.period">
                                            <option value="">Choose Period</option>
                                            <option value="Once">Once</option>
                                            <option value="Daily">Daily</option>
                                            <option value="Hourly">Hourly</option>
                                        </select> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <label>beetween Start Date</label>
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="formData.startdate" view="date" placeholder="Start Date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>                      
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <label>End Date</label>
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="formData.enddate" view="date" placeholder="End Date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="col-sm-12">
                                        <label>Remind those Users who have not filled the form, everyday at Time </label>
                                    </div>
                                </div>                      
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <input min="01:00" max="24:00" type="text" class="form-control" id="time" ng-model="formData.time" ng-change="formatTime('time')"placeholder="Time">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button> 
                <button class="btn btn-danger pull-right" type="button" ng-click="deleteForm()">
                    <i class="fa fa-trash-o"> Delete Form </i>
                </button>  
            </form>    
        </fieldset>
    </div>
</div>