<div  ng-controller="feedlistCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Feeds</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="dashboards.main">Home</a>
                </li>
                
                <li class="active">
                    <strong>Feeds List</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
                <div class="col-lg-11">
                    <div ng-repeat="feed in feedlist">
                        <a href="#/feeds/editfeed/{{feed.$id}}">
                        <div getfeed-data id="{{feed.$id}}"> </div>
                        </a> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>