<div class="inmodal">
    <div class="modal-header">
        <h5 class="modal-title"> Import Form </h5>
        <p>Select any one Form from here you wants to Import.</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <div ng-if="error" class="alert alert-danger"> {{error}} </div>           
              
                <div class="col-sm-10">
                    <div class="radio" ng-repeat=" f in forms">
                        <label> 
                            <input icheck type="radio" id="{{f.name}}" name="formCheck" ng-model="checkModel" value="{{f.key}}"> {{f.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
    </div>
</div>

