
    <div class="middle-box text-center loginscreen   animated fadeInDown" ng-controller="loginCtrl">
        <div>
            <!-- <div class="row row-centered">

                <h4 class="logo-name centered">Atisundar</h4>

            </div> -->
            <h3>Welcome</h3>
            
            <!-- <p>Login in</p> -->
            <form class="m-t" role="form">
                <div class="form-group">
                    <div ng-if="error.msg" class="alert alert-danger"> {{error.msg}} </div>
                </div>

                 <div class="form-group">
                    <input type="text" class="form-control" placeholder="Brand" ng-model="formData.brand" required="" >
                </div>
                
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" ng-model="formData.email" required="" >
                </div>
                
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="formData.password" required="" >
                </div>

                <!-- <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mobile" ng-model="formData.mobile" ng-pattern="/^\d+$/"  ng-required="true" >
                    <div ng-if="error.mobile" class="alert alert-danger"> {{error.mobile}} </div>
                </div>
 -->
               
                <button type="submit" class="btn btn-primary block full-width m-b" ng-click="loginForm()">Login</button>



                <!-- <a href="#"><small>Forgot password?</small></a> -->
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="#/register">Create an account</a>
            </form>
           
        </div>
    </div>
  