<div class="row wrapper border-bottom white-bg page-heading" ng-controller="productCtrl">
    <div class="col-lg-9">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboards">Home</a>
            </li>
            
            <li class="active">
                <strong>Products</strong>
            </li>
        </ol>
        <br>
    </div>
   
    <div class="row">
		<div class="col-sm-3">
			<label>Search By *</label>
		 	<select name="category"  class="form-control" ng-model="category" ng-change="searchCategory(category)">
	        	<option value="">choose Category</option>
	        	<option value="Saree">Saree</option>
	        	<option value="Salwar Kameez">Salwar Kameez</option>
	        	<option value="Kurti">Kurti</option>
	        </select>
    	</div>
	</div>
    <div class="col-lg-11 col-lg-offset-1 animated fadeInRight">
    	
		<div class="row">
			<div class="col-lg-12">
				
				<div class="file-box" ng-repeat = "p in productList" ng-show="p.name != null">
				   <div class="file">
				        <a href="#/products/productdetail/{{p.$id}}">
				            <span class="corner"></span>

				            <div class="image">
				                <img alt="no image" class="img-responsive" my-attr="{{p.$id}}" getimage-url >
				            </div>
				            <div class="file-name" ng-if="p.name">
				            	<!-- {{p.$id | getUrl}} -->
				            	
				                {{p.name}}  {{p.price}}
				                <br/>
				                <!-- <small>Added: Jan 6, 2014</small> -->
				            </div>
				        </a>

				    </div>
				</div>
			</div>
		</div>

	</div>
</div>