<div class="card warning" ng-click="showCard()">
    <div class="item item-divider">
        {{card.name}} by {{card.authorName}}, {{duration}} {{relTime}}
    </div>
    <div class="item item-text-wrap">
        <p>
           {{card.text}}
            {{id}}//{{card.f1}}//{{card.f2}}
        </p>
        <p>
            <a ng-show="showCommentCount()" href="" class="subdued" ng-click="showComments()">{{card.commentCount}} Comments</a>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left noselected" id="comArea_{{id}}" >
        
    </div>
     <div ng-repeat="c in comments">     <!-- comment start   -->
        <div class="col-sm-12">
            <div class="col-sm-1"> 
                <img src="http://res.cloudinary.com/atisundar/image/upload/w_50/{{c.pImage}}" class="img-circle">  
            </div>
            <div class="col-sm-11">
              <h4>{{c.name}} </h4> 
              <span style="font-size:10px; color:#AAAAAA;">{{c.relTime}}</span>
              <p>{{c.comment}}</p>
            </div>
        </div>
        <div class="col-sm-12">
            <span class="list list-inset comment-thread-list">
                <span class="item" ng-repeat="r in c.replies">
                    <div class="col-sm-1">                       
                        <img src="http://res.cloudinary.com/atisundar/image/upload/w_50/{{r.pImage}}" class="img-circle"> 
                    </div>
                    <div class="col-sm-11">
                            <h4>{{r.name}} <span style="font-size:10px; color:#AAAAAA;">{{r.relTime}}</span></h4>

                            <p>{{r.comment}}</p>
                    </div>
                    
                </span> 
            </span>
            <span class="list list-inset comment-thread-list"> 
                 <div class="col-sm-6"> 
                    <textarea ng-model="comment"  id="txt_{{id}}"> </textarea> <button class="btn btn-primary btn-xs" type="button" ng-click="submitComment(id, comment, c.$id)"><i class="fa fa-arrow-circle-left"> Add </i></button> 
                </div>
            </span>
        </div>
    </div> <!-- comment end -->
</div>