<div class="card order-thankyou-card" ng-click="showCard()">
    <div class="item item-divider">
        New Invoice & Goods despatch
    </div>
    <div class="item item-text-wrap">
        <div class="list order-list list-inset" >
            {{card.company}}<br>
            Invoice: #{{card.invoiceno}} dated  {{card.date}}

            <a class="item" href="#" ng-repeat="i in card.items">
                <h2><strong>{{i.item}}</strong></h2>
                <p>{{i.pieces}} x Rs. {{i.rate}}/-</p>
            </a>

        </div>
    </div>

    <div class="item item-divider">
        <a href="#" ng-show="showCommentCount()" class="subdued">{{card.commentCount}} Comments</a>

        <div class="text-right total-price">{{card.transport}}  &middot; Parcel No: {{card.parcelno}}<br>
        LR No: {{card.LRno}}</div>


    </div>

    <div class="item">
        <a href="#" ng-show="showLikeCount()" class="subdued">{{card.likes}} {{'Likes'}}</a>
        <a ng-show='showCommentCount()' href="#"  class="subdued">{{card.commentCount}} Comment<span ng-if="card.commentCount>1">s</span> </a>

    </div>

    <!--div class="item tabs tabs-white tabs-secondary tabs-icon-left">
        <a ng-if="!liked" class="tab-item" ng-click="likeCard()">
            <i class="icon ion-thumbsup"></i>
            {{'Like'|translate}}
        </a>
        <a ng-if="liked" class="tab-item" ng-click="likeCard()">
            <i class="icon ion-thumbsup positive"></i>
            <span class="positive"> {{'Like'|translate}} </span>
        </a>

        <a class="tab-item" ng-click="showCard()">
            <i class="icon ion-chatbox"></i>
            Comment
        </a>

    </div-->

</div>