<div class="card order-thankyou-card" ng-click="showCard()">
    <div class="item item-divider">
        Thank you, {{card.authorName}} for your order.
    </div>
    <div class="item item-text-wrap">
        <div class="list order-list list-inset" >
            Order: #{{card.number}} placed  {{duration}} {{relTime}}

            <a class="item item-thumbnail-left" href="#" ng-repeat="i in card.items">
                <img src="http://res.cloudinary.com/atisundar/image/upload/w_50,h_50,c_fill/{{i.image}}.jpg">
                <h2><strong>{{i.name}}</strong></h2>
                <p>{{i.q}} x Rs. {{i.price}}/-</p>
            </a>

        </div>
    </div>

    <div class="item item-divider">
        <a href="" ng-show="showCommentCount()" class="subdued" ng-click="showComments()">{{card.commentCount}} Comments</a>

        Order Summary:
        <div class="text-right total-price">{{card.pcs}} Products &middot; Rs. {{card.netAmount}}/-</div>


    </div>


    <div class="item tabs tabs-secondary tabs-icon-left noselected" id="comArea_{{id}}" >
        
    </div>
     <div ng-repeat="c in comments">     <!-- comment start   -->
        <div class="col-sm-12">
            <div class="col-sm-1"> 
                <img src="http://res.cloudinary.com/atisundar/image/upload/w_50/{{c.pImage}}" class="img-circle">  
            </div>
            <div class="col-sm-11">
              <h4>{{c.name}} </h4> 
              <span style="font-size:10px; color:#AAAAAA;">{{c.relTime}}</span>
              <p>{{c.comment}}</p>
            </div>
        </div>
        <div class="col-sm-12">
            <span class="list list-inset comment-thread-list">
                <span class="item" ng-repeat="r in c.replies">
                    <div class="col-sm-1">                       
                        <img src="http://res.cloudinary.com/atisundar/image/upload/w_50/{{r.pImage}}" class="img-circle"> 
                    </div>
                    <div class="col-sm-11">
                            <h4>{{r.name}} <span style="font-size:10px; color:#AAAAAA;">{{r.relTime}}</span></h4>

                            <p>{{r.comment}}</p>
                    </div>
                    
                </span> 
            </span>
            <span class="list list-inset comment-thread-list"> 
                 <div class="col-sm-6"> 
                    <textarea ng-model="comment"  id="txt_{{id}}"> </textarea> <button class="btn btn-primary btn-xs" type="button" ng-click="submitComment(id, comment, c.$id)"><i class="fa fa-arrow-circle-left"> Add </i></button> 
                </div>
            </span>
        </div>
    </div> <!-- comment end -->



</div>