<div class="card warning" ng-click="GotoCollection(card.collectionName)">
    <div class="col-sm-2">
         <div class="item item-avatar">
            <img src="http://res.cloudinary.com/atisundar/image/upload/w_100/{{card.pImage}}.png"  class="img-circle">
            
        </div>
    </div>
    <div class="col-sm-10">
        <h2 ng-cloak>{{card.authorName}}</h2>
        <p>{{duration}} {{relTime }}</p>
        <div class="item item-text-wrap">
             <p ng-if="card.displImage">
                 <span style="display:block" class="wrap">           
                    <span class="box1"  ng-repeat="i in card.image">
                         <img alt=product ng-src="http://res.cloudinary.com/atisundar/image/upload/w_{{imageWidth}}/{{i}}" /> 
                    </span>
                </span>
            </p>
            <p ng-if="!card.displImage">             
                 <span ng-repeat="i in card.image">
                     <img alt=product ng-src="http://res.cloudinary.com/atisundar/image/upload/w_{{imageWidth}}/{{i}}" /> 
                </span>               
            </p>
            <p>
               {{card.message}} 
            </p>
            
            <p>
                <a ng-show="showCommentCount()" href="#" class="subdued">{{card.commentCount}} Comments</a>
            </p>
        </div>
    </div>
</div>