<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-9">
        <h2>Timeline</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.main">Home</a>
            </li>
            
            <li class="active">
                <strong>Post on Timeline</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <h3> you can currently only post from the mobile app </h3>           
        
    </div>
</div>