<div class="row wrapper border-bottom white-bg page-heading" ng-controller="uploadcontactsCtrl">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboards">Home</a>
            </li>
            
            <li class="active">
                <strong>Upload Contacts</strong>
            </li>
        </ol>
        <div class="wrapper wrapper-content animated fadeIn">
		    <div class="row">
		        <div class="col-lg-12">
		           <!--  <div class="ibox float-e-margins">
		                <div class="ibox-title">
		                    <h5>Upload your CSV here</h5>

		                    
		                </div>
		                <div class="ibox-content">
		                    <form action="" class="dropzone" drop-zone="" id="file-dropzone">
		                        <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
		                    </form>
		                    <div>
		                        <div class="m text-right">
		                            
		                        </div>
		                    </div>
		                </div>
		            </div> -->
		            <span class="btn btn-success fileinput-button">
		            	<input type="file" file-change="handler($event,files)" ng-model="MyFiles" class="custom-file-input"/>		            	
		       		</span>
		       		<div id="uploadedDetail">

		       		</div>
		        </div>
		    </div>

		</div>
    </div>


</div>