<div ng-controller="uploadproductsCtrl">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-9">
	        <h2>Products</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="/dashboards">Home</a>
	            </li>
	            
	            <li class="active">
	                <strong>Upload Products</strong>
	            </li>
	        </ol>
	    </div>
	</div>
    <div class="wrapper wrapper-content animated fadeIn">
	    <div class="row">
	        <div class="col-lg-12">
	           <!--  <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Upload your CSV here</h5>

	                    
	                </div>
	                <div class="ibox-content">
	                    <form action="" class="dropzone" drop-zone="" id="file-dropzone">
	                        <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
	                    </form>
	                    <div>
	                        <div class="m text-right">
	                            
	                        </div>
	                    </div>
	                </div>
	            </div> -->

	            <span class="btn btn-danger btn-file">
	            	Upload CSV 
	            	<input type="file" file-change="handler($event,files)" ng-model="MyFiles" class="custom-file-input"/>		            	
	       		</span>
	       		<div class="ibox-content" ng-if="productList">
		       			<div class="row">
		        			<div class="pull-right">
		       					<input type="text" ng-model="txtsearch" placeholder="Search">
		       				</div>
		       			</div>
					    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
					        <thead>
					        <tr>
					        	<th>Name</th>
					            <th>Price</th>
					            <th>Category</th>
					            <th>Images</th>
					            <th>Circle</th>
					            <th>Color</th>
					            <th>Details</th>
					            <th>Fabric</th>
					            <th>Handle</th>
					            <th>Mrprice</th>
					            <th>Sku</th>
					            <th>Work</th>    
					        </tr>
					        </thead>
					        <tbody>
					        <tr ng-repeat="product in productList | filter:txtsearch" >
					        	<td>{{ product.name }}</td>
					            <td>{{ product.price }}</td>
					            <td>{{ product.category }}</td>
					            <td>{{ product.cimages }}</td>
					            <td>{{ product.circle }}</td>
					            <td>{{ product.color }}</td>
					            <td>{{ product.details }}</td>					            
					            <td>{{ product.fabric }}</td>
					            <td>{{ product.handle }}</td>
					            <td>{{ product.mrprice }}</td>
					            <td>{{ product.sku }}</td>
					            <td>{{ product.work }}</td>
					        </tr>
					        </tbody>
					    </table>
					</div>
	        </div>
	    </div>

	</div>
</div>